*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: black; */
}
.main{
    background-image: linear-gradient(to bottom,rgb(49,30,37),black);
}
div.line1b button{
    width: 75px;
    height: 30px;
    background-color: white;
    color: black;
    margin-left: 950px;
    margin-top: 23px;
    border-radius: 20px;
}
div.line1a{
    margin-left: 20px;
}
div.line1{
    display: flex;
    /* justify-content: first baseline;/ */
}
/* line2  */
div.line2 {
    position: relative;
    background-image: url(./images/firstbackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 35px;
    margin-right: 40px;
    border-radius: 10px;
    padding-left: 300px;
    padding-top: 300px;
    z-index: 0;
    color: white;
    border:white;
    /* box-shadow: inset; */
}

div.line2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    border-radius: 10px;
    z-index: -1; /* Place the overlay behind the text */
}

h1.line2txta, h3.line2txtb {
    position: relative;
    z-index: 1;
     /* Ensure the text is above the overlay */
}
h1.line2txta{
    font-size: 58px;
    font-weight: 800;
}
h3.line2txtb{
    font-size: 24px;
    font-weight: 400;
}
/* line 3 */
div.line3 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
/* line 4 */
div.line4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
div.line4 input{
    width: 360px;
    height: 56px;
    padding-left: 24px;
    border-radius: 30px;
}

div.line4 button{
    width: 160px;
    height: 56px;
    padding-left: 12px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 30px;
    font-size: 20px;
}
/* line 5 */
.l5c{
    color: white;
}
div.line5{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.select{
    margin-left: 420px;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    padding-left: 10px;
    padding-bottom: 4px;

}
.select2{
    
    border-radius: 30px;
    width: 130px;
    height: 35px;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-left: 20px;
}
div.line5 h2{
    font-size: 30px;
    font-weight: 700;
    padding-left: 176px;

}
/* line 6 */
div.imageline6 img{
    border-radius: 10px;
    /* background-image: ; */
}
div.imageline6 img:hover{
    transform: scale(1.3);
    transition: 0.6s;
    cursor: pointer;
}
section.line6{
    margin-left: 170px !important;
    margin-right: 170px !important; 
    gap: px;
    margin-top: 20px;
}
/* line 7 */
h1.line7{
    margin-left: 180px;
    margin-top: 20px;
    color: white;

}
/* line 8 */

div.line8{
    width: 219px;
    height: 148px;
    background-color: rgb(39,39,39);
    color: white;
    border-radius: 10px;

}
div.line8 h3{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}

div.line8 img{
    margin-left:150px;
}
section.line8main{
gap: 0 !important;
margin-left: 160px !important;
margin-right:170px !important;
gap: 0px !important;
margin-top: 20px;
}
/* line 9 */
h1.line9{
margin-left: 170px;
/* margin-top: 20px; */
margin-bottom: 30px;
color: white;

}
/* line10 */
.l10txt{
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-left: 15px;
}
.line10image{
    margin-left:680px;
    margin-top: 10px;
    height: 30px;
}
.line10image2{
    height: 30px;
    margin-left: 560px;
}

.line10image3{
    height: 30px;
    margin-left: 648px;
}

.line10image4{
    height: 30px;
    margin-left: 675px;
}

.line10image5{
    height: 30px;
    margin-left: 565px;
}

.line10image6{
    height: 30px;
    margin-left: 620px;
}
div.line10{
    background-color: rgb(39,39,39);
    margin-left: 170px;
    margin-right: 180px;
    height: 12vh;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 10px;

}
div.line10:hover{
    background-color: rgb(118, 118, 118);

}
/* line11 */
button.btn11{
    width: 120px;
    height: 39px;
    border-radius: 30px;
    border: none; 
    background-color: red;
    color: white;
    margin-left: 550px;
    margin-top: 30px;
}
/*  */
h3.line12{
    text-align: center ;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 19px;
    color: white;

}
/* line13 */
div.line13main{
margin-top: 26px;
}
a.line13{
    color: rgb(183,183,183);
    margin-left: 190px;
}
/* footer */
footer.footer{
    display: flex;
    justify-content: space-evenly;
    color: rgb(183,183,183);
    margin-right: 160px;
    margin-left: 80px;
    margin-top: 60px;

}
div.list1 ul,div.list2 ul,div.list3 ul,div.list4 ul{
    list-style: none;

    text-decoration: underline;
}
/* secondlast */
div.secondlast select{
    width: 120px;
    height: 35px;
    border-radius: 30px;
    padding-left: 16px;
    margin-left: 185px;
    margin-top: 35px;
}
div.mainlast{
    background-color: black;
}
/* last */
p.last{
    margin-left: 190px;
    margin-top: 40px;
    color: white;
}